.split {
   display: flex;
  flex-direction: column;
   height: calc(100vh - 3.5rem);

 }
 
 .top {
   margin-top:0.5rem;
   padding: 0 10px 10px;
   height: 100px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 }
 
 .bottom {
   margin: 20px;
   flex: 1;
   overflow-y: auto; 
   overflow-x: hidden; }
app-task{
   width: 100%;
}

.center{
   background-color: #3899DD;
   color: #fff;
   width:140px;
   border: none;
   margin-top: 60px;
   margin-bottom: 30px;
}
.titlle {
   letter-spacing: 4px;
   color: rgb(73, 72, 72);
   font-size: 1.4rem;
   font-weight:bold;
 }