
.split {
   display: flex;
   flex-direction: column;
   height: calc(100vh -3.5rem);
}

.split  .top {
   flex-grow: 1;
   min-height: 200px;
   overflow-y: auto;   
}

.split  .bottom {
   flex-grow: 0;
   width: 100%;
   overflow-y: auto;
   overflow-x: hidden;
}

app-task{
   width: 100%;
}

.center{
   margin-left: 90%;
   background-color: #3899DD;
   color: #fff;
   width:100px;
   border: none;
   border-radius: 12px;  
   margin-top: 20px;
}
