
.row{
  height: 100%;
}
.diag{
  background-color: rgba(30, 29, 29, 0.2)
}
.row2{box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);  overflow-y: auto;}
.header{
  display: flex; justify-content: space-between;
}
.split1{flex-basis:10%; flex-grow: 1;color:#86BC35; font-weight: bold; }
.split2{flex-basis:20%; flex-grow: 1;}
kendo-tabstrip p {
  margin: 0;
  padding: 8px;
}
kendo-treeview {
  margin-top: 15px;
  width: 200px;
  color:#575553;font-size: 0.8rem;font-weight: bold;

}
kendo-textbox {
  margin-top: 10px;
  width: 100%;
  border-radius: 12px;
  background-color:#ece2e2;
  color: #817d7d;
}
.title{
  color:#000000;font-size: 1rem;font-weight: bold;
}
.title2{
  margin-top: 15px;
  color:#868282;font-size: 0.7rem;font-weight: bold;
}

.avatar{
  background-color:#3899DD; color: #fff; width: 28px; height: 28px;  
}
.active {
 color: #3899DD;
}
.example-wrapper {
  margin-top:5rem;
  padding:10px;
  padding-top:22px;
   height: 80px;
   width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  border:solid 0.5px #dae4eb;
  color:#564f4f;
  right: 0;
  display: flex; flex-direction: column;
  font-size: 1.1rem;font-weight: bold;
}
.date{
  color:#1e1f1d;font-size: 0.9rem;font-weight: bold;
}

.mat-tree-node {
  display: flex;
  align-items: center;
  padding: 8px;
}

.mat-tree-node__padding {
  flex-grow: 1;
}
body {
  margin-bottom: 6em;
}

$border-color: #e3e5ef;
$primary-color: #48494a;

.treeview {
  //Variables
  $_treeview-level-size: 55px;
  //General styles for bootstrap
  .btn-default {
    border-color: $border-color;

    &:hover {
      background-color: #f7faea;
      color: $primary-color;
    }
  }
  // Targetting the HTML Elements for treeview
  ul {
    list-style: none;
    padding-left: 0px;

    li {
      padding: 50px 0px 0px 35px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -26px;
        left: -31px;
        border-left: 2px dashed #a2a5b5;
        width: 1px;
        height: 100%;
      }

      &:after {
        content: "";
        position: absolute;
        border-top: 2px dashed #a2a5b5;
        top: 70px;
        left: -30px;
        width: 65px;
      }

      &:last-child:before {
        top: -22px;
        height: 90px;
      }
    }
  }
  // First Level Elements
  & > ul {
  & > li {
    &:after,
    &:last-child:before {
      content: unset;
    }

    &:before {
      top: 90px;
      left: 36px;
    }

    &:not(:last-child) > ul > li {
      &:before {
        content: unset;
      }
    }

    & > .treeview__level {
      &:before {
        height: $_treeview-level-size + 5;
        width: $_treeview-level-size + 5;
        top: -9.5px;
        background-color: #48494a;
        border: 7.5px solid #d5e9f6;
        font-size: 22px;
      }
    }
    
    & > ul {
      padding-left: 34px;
    }
  }
  
}
  // Treeview Components
  &__level {
    padding: 7px;
    padding-left: ($_treeview-level-size / 2) + 15;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid $border-color;
    position: relative;
    z-index: 1;

    &:before {
      content: attr(data-level);
      position: absolute;
      left: -($_treeview-level-size / 2);
      top: -6.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: $_treeview-level-size;
      width: $_treeview-level-size;
      border-radius: 50%;
      border: 7.5px solid #eef6d5;
      background-color: $primary-color;
      color: #fff;
      font-size: 20px;
    }

    &-btns {
      margin-left: 15px;
      display: inline-block;
      position: relative;
    }

    .level {
      &-same,
      &-sub {
        position: absolute;
        display: none;
        transition: opacity 250ms cubic-bezier(0.7, 0, 0.3, 1);
        &.in {
          display: block;
          .btn-default {
            background-color: #faeaea;
            color: #5595da;
          }
        }
      }

      &-same {
        top: 0;
        left: 45px;
      }
      &-sub {
        top: 42px;
        left: 0px;
      }
      &-remove {
        display: none;
      }
    }

    &.selected {
      background-color: #f9f9fb;
      box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);

      .level {
        &-remove {
          display: inline-block;
        }
        &-add {
          display: none;
        }
        &-same,
        &-sub {
          display: none;
        }
      }
    }
  }

  .level-title {
    cursor: pointer;
    user-select: none;
    
    &:hover {
      text-decoration: underline;
    }
  }

  &--mapview {
    ul {
      justify-content: center;
      display: flex;

      li {
        &:before {
          content: unset;
        }

        &:after {
          content: unset;
        }
      }
    }
  }
}
