
.example-container {
    width: 470px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(210, 217, 217, 0.3); 
    height: 100%;
    overflow-y: auto;

  }
  
  .example-list {
    min-height: 60px;
    border-radius: 4px;
    display: block;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;

  }
    .example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(130, 130, 130, 0.87);
  display: flex;
  flex-direction: column; /* Changed from row to column */
  align-items: stretch; /* Changed from center to stretch */
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 1.0rem;
  margin-bottom: 10px;
  font: weight 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  height: 180px;
  width: 100%;

  }
  .boxx {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(19, 18, 18, 0.87);
    display: flex;
    flex-direction: column; /* Changed from row to column */
    align-items: stretch; /* Changed from center to stretch */
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 16px;
    margin-bottom: 10px;
    font: weight 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: 200px;
    width: 100%;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .box{
    display:grid ;
    grid-auto-flow : column;
    grid-column-gap:10px;
  }
  .head-title{
    margin: 0;
    padding: 15px;
    padding-left: 30px;
    border-radius: 4px;
    color: rgb(100, 100, 100);
    font-size: 1.3rem;
    font-weight:500px;


  }
  .head-title span{
    font-weight: normal;
    
  }
  ul {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  li {
    margin: 0 9px;
  }
  li:hover {
    color: #ffc000;
    cursor: pointer;
  }
  .content li {
    margin: 0;
    padding: 6px 5px;
  }
  .content ul {
    display: block;
  }
  .content {
    padding: 4px;
  }
  .avatar{
    background-color:#3899DD; color: #fff;  width: 19px;height: 19px;margin-right: 4px;

  }
  .navButton{
    background-color: rgba(0, 0, 0, 0);border: none;color: rgb(66, 62, 62);font-size: 0.8rem;font-weight: bold;
  }
 
  .headerBox {
    height: 25%;
   
  }
  
  .contentBox {
    height: 30%;
  }
  
  .footerBox {
    height: 25%;
  }
  .footerBox2 {
    height: 20%;
  }
  .title{
    color: rgb(106, 104, 104);
    font-size: 1.4rem;
  }
  .example-form{
    border-radius: 12px;
    
  }
  .dig{
    background-color:rgba(0,0,0,0.2);
  }
  .dateF{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color:#fff;
    
  }
  .dossierF{
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    color:#303131;width: 200px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  } 
  .dossierF2{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    color:#303131;width: 200px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .keyWordF{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
  }
  .date{
    color:#dc5b1b;font-size: 0.8rem;font-weight: bold;
  }
  .createdBy{
    color:#86BC35;font-size: 0.8rem;font-weight: bold;

  }
  .bt{background-color: #3899DD;color: #fff;}