.side-nav-content{
    width: 150px;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 10px;
 }
 .nav-list{
    list-style:none;
    height: 100%;
    padding:0%;
    margin-bottom: 0%;
 }
 .nav-list-item{
    display:flex;
    align-items: center;
    height: 40px;
    font-size: 14px;
    width: auto;
    margin-left: 9px;
    font-family: system-ui; 
 }
.nav-list-item:hover {
    background-color: rgba(73, 91, 233,0.2);
 }
.nav-list-item  span{
    color: #3899DD;
    padding: 10px 10px 10px 20px;
    margin-right: 10px;
}
*{
     text-decoration: none;
     color: #3899DD;
 }