.titlle{
    padding-top: 22px;
    letter-spacing: 4px;
    color: rgb(73, 72, 72);
    font-size: 1.4rem;
    font-weight:bold;
}

.avatar{
    background-color:#3899DD; color: #fff; width: 18px; height: 18px;
  }
 .bt{background-color: #3899DD;color: #fff;}
  ::ng-deep .custom-snackbar {
     background-color: #ff9800; 
  }
  