.weather {
    margin: 30px;
    text-align: left;
}
  .bt{
    color: #3899DD;
    border-color: #3899DD;
    margin-left: 80%;
}
::ng-deep .k-tabstrip .k-item.k-state-active > .k-link,
::ng-deep .k-tabstrip .k-item > .k-link {
    color: #3899DD;
    font-weight: bold;
}

