.header{
    background-color: rgb(66, 65, 65);
    position:fixed;
    width: 100%;
    z-index: 2;
    top: 0;

  }
  .tittle{
    padding: 8px;
    letter-spacing: 4px;
    color: rgb(207, 197, 197);
    font-size: 1.4rem;
    font-weight:bold;
    padding-top: 9px;
  }
  .bottom{
    margin-top: 100px;
  }
  img{
    width: 20px;
    height: auto;
    margin: 5px;
}