
.side-nav-content{
   color:  #3899DD  ;
   width: 60px;
   margin-right: 10px;
   margin-left: 0px;
   margin-top: 10px;
}

.nav-list{
   list-style:none;
   height: 100%;
   padding:0%;
   margin-bottom: 0%;
}
.nav-list-item{
   display:flex;
   align-items: center;
   height: 40px;
   width: 40px;

}

.nav-list-item:hover {
   background-color: #979595;
   border-radius:50%; 
   border: solid 1px #c8c8c8;


}

 .nav-list-item  span{
   color: rgb(255, 255, 255);
   padding: 10px 10px 10px 20px;


 }
 *{
    text-decoration: none;
    color: white;
 }