.weather {
    margin: 30px;
    text-align: left;
  }
  kendo-tabstrip-tab{
    width: calc(100% / 7);
  }
  .card{
    color:#7e807a;font-size: 0.7rem;
    width: 100%;
}
.header{
    text-align: right;
}
.body{
    text-align: left;
}
.bt{
    color: #3899DD;
    border-color: #3899DD;
}