.product {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-color: #ebebeb;
    border-bottom-style: solid;
  }
  .description {
    flex: 1;
  }
  .category-name {
    font-size: 12px;
  }
  .product-name {
    font-size: 16px;
  }
  .product-name,
  .price {
    height: auto;
    font-weight: bold;
  }
  .product {
    padding: 12px;
  }