
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
.mvm{
  color:#555;
  font-family:'Roboto';
  font-weight:100%;
  font-size:large;
  padding-top:10%;
  height:100%;
  overflow:hidden;  
  letter-spacing: 4px;
  
  height: calc(100vh - 3.5rem);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0)
 }
 
 .mvm div {
   display:inline-block;
   overflow:hidden;
   white-space:nowrap;
   transform: scaleY(1);
   font: italic small-caps bold 36px/2 cursive;
   padding-left: 10%;


 }
 
 .mvm div:first-of-type {    
   animation: showup 7s infinite;
 }
 
 .mvm div:last-of-type {
   width:0px;
   animation: reveal 7s infinite;
 }
 
 .mvm div:last-of-type span {
   margin-left:-355px;
   font-size:large;
   font-weight: 100;
   text-shadow: 1px 1px #5a5a59;
   letter-spacing: 7px;

   animation: slidein 7s infinite;
 }
 
 @keyframes showup {
     0% {opacity:0;}
     20% {opacity:1;}
     80% {opacity:1;}
     100% {opacity:0;}
 }
 
 @keyframes slidein {
     0% { margin-left:-800px; }
     20% { margin-left:-800px; }
     35% { margin-left:0px; }
     100% { margin-left:0px; }
 }
 
 @keyframes reveal {
     0% {opacity:0;width:0px;}
     20% {opacity:1;width:0px;}
     30% {width:755px;}
     80% {opacity:1;}
     100% {opacity:0;width:355px;}
 }

 
 .mvm  p {
   font-size:12px;
   color:#5b5a5a;
   margin-top: 5%;
   margin-left: 60%;
 }